@import '../../App.scss';
// Contact list component
@-webkit-keyframes autofill {
    to {
        color: $WC;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.new-contact-form-container {
    margin: auto;
    margin-top: 75px;
    box-shadow: 0px 0px 5px 1px;
    border-radius: 15px;
    width: 325px;
    height: 250px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $LBC;
    .input-field {
        width: 275px;
        border: none;
        text-indent: 5px;
        background-color: $LBC;
        border-bottom: 1px solid $DWC;
        color: $WC;
        margin-bottom: 20px;
        &:focus {
            outline: none;
        }
    }
    ::placeholder {
        color: $DWC;
    }
    .add-contact-button {
        width: 61px;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 1px $WC;
        border: none;
        background-color: $WC;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &:hover {
            width: 63px;
        }
    }
}

.contact-list {
    width: 900px;
    padding: 25px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// Contact component
.contact-container {
    position: relative;
    background-color: $DLBC;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
    margin: 10px;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    span {
        margin-bottom: 5px;
        word-wrap: break-word;
    }
    .contact-name {
        font-size: 20px;
        font-weight: bold;
    }
    .icon-container {
        position: absolute;
        top: 10px;
        right: 20px;
    }
    .contact-icon {
        margin-left: 10px;
        cursor: pointer;
        opacity: 0;
    }
    .contact-icon-visible {
        margin-left: 10px;
        cursor: pointer;
        opacity: 1;
    }
}

// Edit Modal Component

.edit-contact-form {
    .input-field {
        width: 275px;
        border: none;
        text-indent: 5px;
        border-bottom: 1px solid $LBC;
        color: black;
        margin-bottom: 20px;
        &:focus {
            outline: none;
        }
    }
}

.edit-modal-button-container {
    display: flex;
    justify-content: space-between;
}
